*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px; 
    font-family: 'Poppins', sans-serif;
}

a {
    cursor:pointer;
}

a:visited {
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

#main{
    font-family:'Karla', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 3.43rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}
nav .menu-button,
.menu-icon{
    display:none;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li a{
	height:2.75rem;
	line-height: 3rem;
	margin: 0.25rem;
	padding: 0px 23px;
	display: flex;
    justify-content: space-around;
	font-size: 1.05rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
	letter-spacing: 1px;
}

 nav ul li a:hover{
	background-color: #dc0f0c;
	color:#000000;
	box-shadow: 5px 10px 30px rgba(199, 206, 206, 0.3);
	transition: all ease 0.4s;
} 

.section-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 7px;
}

.section-heading span{
    text-align: center;
    font-size: 30px;
    padding-bottom: 3px;
}

.section-heading h1{
    text-align: center;
    color:rgba(8, 166, 166, 0.938);
}
/* FAILED ATTEMPT AT SHINE EFFECT 
 .nav ul li a::after{
    height:100%;
    left:-35%;
    top:0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width:0;
}

.nav ul li a:hover:after{
    height:100%;
    width:135%;
} */

 /* INTRO */

 .intro-container{
     display:flex;

 }

.intro-image{
    display: flex;
    margin-right: 2.5rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    align-items: center;
    flex-wrap: wrap;
}

.intro-text h1{
    color:rgba(8, 166, 166, 0.938);
}

/* INTERESTS  */

#interests{
    width: 100vw;
    padding-left: 3.125rem;
    padding-right: 3.125rem;

}

.interests-parent{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top: 3.125rem;
    padding-bottom: 50px;
    overflow: none;
}


.interests-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.interests-content {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
    padding-right: 10px;
	margin: 20px;
	background-color: #eaec9b;
	box-shadow: 5px 10px 15px rgba(0,0,0,0.08);
}

.interests-img {
    background-color: none;
} 

.interests-img img{
    width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}

.int-top{
    display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 0px;
}

.int-bottom{
    color:rgb(98, 4, 98);
	font-size: 0.9rem;
	margin:0px;
	text-align: center;
	display: block;
}

.interests-content:hover{
    transform: translateY(-20px);
    transition: all ease 0.4s;
    background-color:#e4e809 ;
    box-shadow: 0 0 5px #e4e809, 0 0 25px #e4e809,
     0 0 50px #e4e809, 0 0 200px #e4e809;
}

/* SKILLS */

#skills{
    width:100%;
    padding-left: 50px;
    padding-right: 50px;
}

.skills-parent{
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.skills-content{
    display: flex;
    margin-right: 40px;    
    margin-left: 40px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skills-content img{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100px;
}

.skills-text {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px;
    padding-left: 20px;
    width: 500px;
    flex-wrap: wrap;
}

.skills-text strong {
    font-weight: 600;
    font-size: 25px;
    animation: rainbow 4s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}


#interests{
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;

}

.interests-parent{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: none;
}


.interests-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.interests-content {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
    padding-right: 10px;
	margin: 20px;
	background-color: #eaec9b;
	box-shadow: 5px 10px 15px rgba(0,0,0,0.08);
}

.interests-img {
    background-color: none;
} 

.interests-img img{
    width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}

.int-top{
    display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 0px;
}

.int-bottom{
    color:rgb(98, 4, 98);
	font-size: 0.9rem;
	margin:0px;
	text-align: center;
	display: block;
}

.interests-content:hover{
    transform: translateY(-20px);
    transition: all ease 0.4s;
    background-color:#e4e809 ;
    box-shadow: 0 0 5px #e4e809, 0 0 25px #e4e809,
     0 0 50px #e4e809, 0 0 200px #e4e809;
}

 PROJECTS 

#projects{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.projects-parent{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: none;
}

.projects-heading{
    text-align: center; 
    padding-bottom:10px;
}

.projects-heading span{
   text-align: center;
   font-size: 30px;
   padding-bottom: 3px;
}

.projects-heading h1{
   text-align: center;
   color:rgba(8, 166, 166, 0.938);
}

.projects-container{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.projects-image{
    width:60%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.projects-image img{
    width:200px;
    height:250px;
    object-fit: contain;
}

.projects-main{
    display:flex;
    flex-direction: column;
    padding-left:10px;
}

.projects-content{
    display: flex;
}

.proj-img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:350px;
    width:420px;
    padding-right: 10px;
}

.proj-img img{
    width:360px;
    height:300px;
}

.proj-content-text{
    width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
    padding-right: 10px;
	margin: 20px;
	background-color: #d9f5f4c0;
	box-shadow: 5px 10px 15px rgba(0,0,0,0.08);
}

.proj-content-text a{
    text-align: center;
}  

/* CONTACTS */

#contact{  
    width:100%;
    height: 200px;
    display:flex;
    flex-direction: column;
}

.contact-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.contact-content{
    width: 350px;
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;   
}

.contact-content img{
    width:90px;
    height:90px;
    object-fit: contain;
}